{% extends "browse/main.html" %}

{% block content %}
{{block.super}}
{% load widget_tweaks %}

<form method="GET" action="">
<div class="container-fluid p-1">
<div class="row">
{% if filters %}
    <div class="col-2">
        <div class="container p-1">
        <h4><p>Filtruj</p></h4>
        </div>
        <div class="container p-1">
            {% for field in filters %}
                <div class="form-group">
                {% if field.field.widget.input_type != "checkbox" or field.field.widget.allow_multiple_selected %}
                    {{ field.label_tag }}
                {% endif %}
                
                {% if field.field.widget.input_type == "checkbox" %}
                    {% if not field.field.widget.allow_multiple_selected %}
                        {% render_field field class="form-check-input" %}
                        <label class="form-check-label" for="checkbox">
                            {{ field.label }}
                        </label>
                    {% else %}
                        {% render_field field class="" %}
                    {% endif %}                  
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="container p-1">
            <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="submit" id="search-btn" data-mdb-ripple-color="dark" value="Szukaj">
        </div>
        </form> 
    </div>
{% endif %}
<div class="col">
        <div class="container d-flex justify-content-center">
            <div class="input-group w-auto p-1">
                <input
                  name="q"
                  id="q"
                  type="text"
                  class="form-control"
                  placeholder="Wyszukaj..."
                  aria-label="Wyszukaj..."
                  aria-describedby="search-btn"
                  value="{{q}}"
                />
                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="submit" id="search-btn" data-mdb-ripple-color="dark" value="Szukaj">
            </div>
        </div>

<table id="browse_table" class="table table-striped table-hover table-bordered border-secondary">
    {% for table in tables %}
    <thead class="table-light">
        <tr class="table-info">
            {% for cell in table.header_cells %}
            {% if cell.isSortable %}
            <th onclick="sortTable('{{cell.index}}', '{{table.body_name}}', '{{cell.id}}')" scope="col">{{cell.name}}<a id="{{cell.id}}"></a></th>
            {% else %}
            <th scope="col">{{cell.name}}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody class="table-light" id="{{table.body_name}}">
        {% for field in table.rows %}
        <tr onclick="window.location='{{field.onclick}}'">
            {% for info in field.fields %}
            {% if info.type == 'data' %}
            <td scope="col">{{ info.data|default_if_none:"" }}</td>
            {% elif info.type == 'datetime' %}
            <td scope="col">{{ info.data|date:"d.m.Y, H:i" }}</td>
            {% elif info.type == 'date' %}
            <td scope="col">{{ info.data|date:"d.m.Y" }}</td>
            {% elif info.type == 'time' %}
            <td scope="col">{{ info.data|time:"H:i" }}</td>
            {% elif info.type == 'link' %}
            <td scope="col">
                {% for link in info.data %}
                <a class="{{link.linkClass}}" href="{{link.href}}">{{ link.name|default_if_none:"" }}</a>
                {% endfor %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>

{% for button in buttons %}
<a class="btn btn-primary" href="{{button.href}}">{{button.name}}</a>
{% endfor %}
</div>
</div>
</div>
{% endblock content %}

