{% extends "person/main.html" %}

{% block content %}
{{block.super}}
<h4><a href="/person/{{object.id}}/add_activity">Dodaj aktywność</a></h4>
<div>
    <table style="width:100%" id="browse_table">
        <div>
            <tr>
                <th onclick="sortTable(0)">Rodzaj aktywności<a id="th0"></a></th>
                <th onclick="sortTable(1)">Data<a id="th1"></a></th>
                <th>Opcje</th>
              </tr>
            {% for activity in objects %}
            <tr>
                <td>{{activity.activity_type_id.name}}</td>
                <td>{{activity.date|date:"d/m/Y H:i"}}</td>
                <td>
                    <a href="/person/{{activity.person_id.id}}/activity_type/{{activity.activity_type_id.id}}/activity/{{activity.activity_id}}/data">Zobacz</a>
                    <a href="/person/{{activity.person_id.id}}/activity_type/{{activity.activity_type_id.id}}/activity/{{activity.activity_id}}/delete">Usuń</a>
                </td>
            </tr>
            {% endfor %}
        </div>
    </table>
</div>
{% endblock content %}