{% extends "person/main.html" %}

{% block content %}
{{block.super}}

<div>
    <table id="browse_table">
        <div>
            <tr>
                <th onclick="sortTable(0)">Kurs<a id="th0"></a></th>
                <th onclick="sortTable(1)">Semestr<a id="th1"></a></th>
                <th>Opcje</th>
              </tr>
            {% for semester in semesters %}
            <tr>
                <td>{{semester.course_id}}</td>
                <td>{{semester.semester_id}}</td>
                <td>
                    <a href="/course/{{semester.course_id.id}}/semester/{{semester.semester_id.id}}/dates">Zobacz kurs</a>
                    <a href="/person/{{object.id}}/course/{{semester.course_id.id}}/semester/{{semester.semester_id.id}}/attendance">Zobacz obecności</a>
                    <a href="/course/{{semester.course_id.id}}/semester/{{semester.semester_id.id}}/person/{{object.id}}/delete_attendance">Wypisz</a>
                </td>
            </tr>
            {% endfor %}
        </div>
    </table>
</div>

<h4><a href="/person/{{object.id}}/add_to_course">Zapisz na kurs</a></h4>


{% endblock content %}