{% extends "person/main.html" %}
{% load widget_tweaks %}

{% block content %}
{{block.super}}
<div class="position-fixed start-50 translate-middle-x">
    <div class="card">
        <div class="card-body" style="width: 30rem;">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-secondary" href="{{edit_button.href}}">{{ edit_button.name }}</a>
    </div>
</div>

{% endblock content %}
