{% extends "person/main.html" %}

{% block content %}
<h4>Daj "{{object}}" rolę</h4>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="role">Wybierz rolę: </h4>
        <select name="role" id="role">
            {% for r in roles %}
            <option value="{{r.id}}">{{r}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Daj rolę" />
        <a href="{{request.META.HTTP_REFERER}}">Anuluj</a>
    </form>
</div>
{% endblock content %}
