{% extends "roles/main.html" %}

{% block content %}
{{block.super}}
<div>
    <table style="width:100%" id="browse_table">
        <div>
            <tr>
                <th onclick="sortTable(0)">Dozwolone aktywności<a id="th0"></a></th>
                <th>Opcje</th>
              </tr>
            {% for activity_type in activity_types %}
            <tr>
                <td>{{activity_type.atid.name}}</td>
                <td>
                    <a href="/roles/{{role.id}}/activity_type/{{activity_type.atid.id}}/delete">Usuń</a>
                </td>
            </tr>
            {% endfor %}
        </div>
    </table>
</div>
<h4><a href="/roles/{{role.id}}/activity_type/add">Dodaj dozwolony rodzaj aktywności</a></h4>
{% endblock content %}
