{% extends "browse/main.html" %}
{% load widget_tweaks %}

{% block content %}
{{ dict|json_script:"dict" }}
{{ allowed_people|json_script:"allowed_people" }}
{{ allowed_activities|json_script:"allowed_activities" }}
<script>
    function setAllowedPeople() {
        const currentActivity = parseInt(document.getElementById('id_activity_type_id').value);
    	const allowed_people = JSON.parse(document.getElementById('allowed_people').textContent);
        var people = document.getElementById('id_person_id');
        if (isNaN(currentActivity)) {
            for (var i=0; i<people.length; i++) {
                people[i].disabled = 0;
            }
        }
        else {
            for (var i=0; i<people.length; i++) {
                people[i].disabled = allowed_people[currentActivity].includes(parseInt(people[i].value)) ? 0 : 1;
            }
        }
    }
    function setAllowedActivities() {
        const currentPerson = parseInt(document.getElementById('id_person_id').value);
    	const allowed_activities = JSON.parse(document.getElementById('allowed_activities').textContent);
        var activities = document.getElementById('id_activity_type_id');
        if (isNaN(currentPerson)) {
            for (var i=0; i<activities.length; i++) {
                activities[i].disabled = 0;
            }
        }
        else {
            for (var i=0; i<activities.length; i++) {
                activities[i].disabled = allowed_activities[currentPerson].includes(parseInt(activities[i].value)) ? 0 : 1;
            }
        }
    }
    function toggleDisabled(_checked, _ids) {
        for (let i = 0; i < _ids.length; i++) {
            let e = document.getElementById(_ids[i]);
            if (!_checked) {
                e.disabled = 1;
            }
            else if (i == 0 || (document.getElementById(_ids[i-1]).value) != "") {
                e.disabled = 0;
            }
        }
        if (_checked)
            toggleChange();
    }
    function toggleChange() {
    	const dict = JSON.parse(document.getElementById('dict').textContent);
		var master = parseInt(document.getElementById('course').value);
        var s = document.getElementById('semester');
        if (isNaN(master)) {
            s.value = "";
            s.disabled = 1;
        }
        else {
            s.value = dict[master].includes(parseInt(s.value)) ? s.value : "";
            s.disabled = 0;
        }
        for (var i=0; i<s.length; i++) {
            s[i].hidden = dict[master].includes(parseInt(s[i].value)) ? 0 : 1;
        }
    }
</script>
<div class="position-fixed start-50 translate-middle-x">
    <div class="card m-3">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="card-body" style="width: 30rem;">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                {% if field.field.widget.input_type != "checkbox" %}
                {{ field.label_tag }}
                {% endif %}

                {% if field.field.widget.input_type == "checkbox" %}
                <div>
                    {% render_field field class="form-check-input" %}
                    <label class="form-check-label" for="checkbox">
                        {{ field.label }}
                    </label>                    
                </div>
                {% elif form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                            {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            {% endfor %}
            <div class="form-group">
                {% for error in form.non_field_errors %}
                <div class="text-danger p-1 m-1">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group ps-3">
            <input class="btn btn-primary" type="submit" value="Dodaj" />
            <input type="hidden" name="referer" value="{{request.META.HTTP_REFERER}}" />
            <a class="btn btn-outline-dark" href="{{request.META.HTTP_REFERER}}">Anuluj</a>
        </div>
    </form>
    </div>
</div>
{% endblock content %}
