<!-- templates/home.html -->
{% extends "main.html" %}

{% block content %}
{{block.super}}

{% if request.user.is_authenticated %}
<!-- default view -->
<h3>
    <a href="/browse/people">Przeglądaj</a>
</h3>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div> -->
  

{% else %}
<!-- log in view -->
<div class="container p-5">
    <div class="position-relative width: 20rem">
    <div class="position-absolute start-50 translate-middle-x">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card text-center" style="width: 20rem;">
                {% load static %}
                <img src="{% static 'logo-09.2024.png' %}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                <p class="card-text">Witaj w Bazie Jezuickiej Służby Uchodźcom.</p>
                <p class="card-text">Podaj nazwę użytkownika oraz hasło, aby się zalogować.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><label>Nazwa użytkownika:</label>
                    <input type="text" name="username", placeholder="Nazwa użytkownika" class="form-control"/>
                    <label>Hasło:</label>
                    <input type="password" name="password", placeholder="Hasło" class="form-control"/></li>
                </ul>
                <div class="card-body">
                    <input class="btn btn-primary" type="submit" value="Zaloguj">
                </div>
            </div>
        </form>
    {% endif %}

    {% if messages %}
        <div class="card text-center" style="width: 20rem;">
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li{% if message.tags %} class="list-group-item"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock content %}