<!-- templates/home.html -->
{% extends "main.html" %}

{% block content %}
{{block.super}}
{% if request.user.is_authenticated %}
<h3>
    <a href="/browse/people">Przeglądaj</a>
</h3>
{% else %}
<div class="d justify-content-center">
    <div class="input-group w-auto">
        <form method="POST" action="">
            {% csrf_token %}
            <label>Nazwa użytkownika:</label>
            <input type="text" name="username", placeholder="Nazwa użytkownika" class="form-control"/>
            <label>Hasło:</label>
            <input type="password" name="password", placeholder="Hasło" class="form-control"/>
        </div>
        <div class="input-group w-auto">
            <input class="btn btn-outline-dark" type="submit" value="Zaloguj">
        </form>
    </div>
</div>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}