<!-- templates/main.html -->
{% block head %}
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
      <style>
        body {
          font-family: 'Montserrat', sans-serif !important;
        }
        head {
          font-family: 'Montserrat', sans-serif !important;
        }
      </style>

    <title>JRS database</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static 'contents.css' %}" rel="stylesheet" type="text/css">
  
  </head>
  {% if request.user.is_authenticated %}
  <!-- Add user breadcrumb --> 
<div class="btn-group">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/logout">Wyloguj</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.user.username}}</li>
    </ol>
  </nav>
  <div class="mx-5">
    <div class="mx-2">
      <a href="/browse/people">Przeglądaj</a>
      <a href="/admin_settings/teachers">Ustawienia</a>
    </div>
  </div>
  <div class="card text-center ms-auto" style="width: 10rem;">
                {% load static %}
                <img src="{% static 'logo-09.2024.png' %}" class="card-img-top p-3" alt="...">
  </div>
</div> 
  {% endif %}
</html>
{% endblock head %}

{% block content %}
{% endblock content %}
