{% extends "browse/main.html" %}

{% block content %}
{{ block.super }}

<div class="container-fluid">
    <div>
        <h4 id="foo">Całkowita liczba uczestników: {{ no_attendees }}</h4>
    </div>
    <table style="width:100%" id="browse_table"class="table table-hover table-bordered border-secondary">
        <thead class="table-info">
            <tr>
                <th>Liczba uczestników</th>
                {% for category in categories %}
                <th>{{ category }}</th>
                {% endfor %}
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody class="table-light">
            {% for id, row in attendees.items %}
            <tr>
                {% for data in row %}
                    <td>{{ data }}</td>
                {% endfor %}
                <td>
                    <a class="btn btn-primary btn-sm" href="/events/{{object.id}}/attendees/{{id}}/edit">Edytuj</a> 
                    <a class="btn btn-danger btn-sm" href="/attendees/{{object.id}}/{{id}}/delete">Usuń</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-group">
        <h5><a class="btn btn-primary" href="/events/{{object.id}}/attendees/add">Dodaj grupę uczestników</a></h5>
    </div>
</div>
{% endblock content %}
